body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  margin-bottom: -10px !important;
  display: flex;
}

.header-left {
  float: left;
}

@media only screen and (min-width: 600px) {
  .header-right {
    float: right;
  }
}

.header-right {
  margin-left: auto;
}

